<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap desktop">

  <Identity
    Name="com.13thsymphony.quickhdr"
    Publisher="CN=simon"
    Version="0.1.11.0" />

  <Properties>
    <DisplayName>Quick HDR</DisplayName>
    <PublisherDisplayName>simon</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Quick HDR"
        Description="Quickly turn Windows HDR on and off using a hotkey."
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile ShortName="Quick HDR" Square71x71Logo="Images\SmallTile.png">
        </uap:DefaultTile >
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>

        <Extensions>
            <desktop:Extension
            Category="windows.startupTask"
            Executable="QuickHdr\QuickHdr.exe"
            EntryPoint="Windows.FullTrustApplication">
                <desktop:StartupTask
                    TaskId="QuickHdrTask"
                    Enabled="true"
                    DisplayName="Quick HDR System Tray" />
            </desktop:Extension>
        </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
